body, html {
  margin: 0;
  height: 100vh;
}

@font-face {
  font-family: "Dancing Script";
  src: url(./DancingScript-Regular.ttf)
}

:root {
  --modal-height: 265px;
  --black: #030e12;
  --yellow: #fcde67;
  --blue: #5bccf6;
}

p, h1 {
  color: var(--black);
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--yellow);
  box-shadow: 0px 2px 10px grey;
}

.header h1 {
  text-align: center;
  font-family: "Dancing Script";
  font-size: 48px;
}

.header div {
  width: 55px;
}

.modal-add {
  color: white;
  background-color: var(--blue);
  font-size: 48px;
  font-weight: bold;
  border-width: 0;
  border-radius: 50%;
  width: 50px;
}

.modal-add:hover {
  color: var(--blue);
  background-color: white;
}

.modal-add:focus {
  color: var(--blue);
  background-color: white;
  outline: none;
}

.main {
  background-color: var(--blue);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: min-content;
  column-gap: 7rem;
  row-gap: 5rem;
  padding: 3rem 7rem;
}

.card {
  position: relative;
  background-color: var(--yellow);
  height: 160px;
  text-align: center;
  border-radius: 15px;
}

.card p {
  font-family:Verdana, Tahoma, sans-serif;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.readStatus-yes {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 30px;
  padding: 5px 20px;
  font-family:Verdana, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
}

.readStatus-yes:hover {
  background-color: white;
  border-color: white;
  color: var(--blue);
}

.readStatus-no {
  background-color: red;
  border: 1px solid red;
  border-radius: 30px;
  padding: 5px 20px;
  font-family:Verdana, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  }

.readStatus-no:hover {
  background-color: white;
  border-color: white;
  color: red;
}

.remove-btn {
  position: absolute;
  bottom: 17px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: red;
  border-width: 0;
  border-radius: 50%;
  width: 25px;
}

.remove-btn:hover {
  background-color: white;
  color: red;
}

.remove-btn:focus {
  outline: none;
}

.modal-inactive {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgb(0, 0, 0, .5);
  width: 100%;
  height: 100%;
}

.modal-active {
  display: block;
}

.modal-content {
  background-color: var(--yellow);
  border-radius: 15px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: var(--modal-height);

  /* Position element in the center-ish of the screen */
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 35%;
  margin-top: calc(-1*var(--modal-height)/2);
}

.modal-content h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.modal-content div{
  display: flex;
  flex-direction: column;
}

.invalid-message {
  color: red;
  margin: 5px;
  visibility: hidden;
}

#pages-error {
  margin: 5px 5px 0 5px;
}

.invalid-message-active{
  visibility: visible;
}

.modal-content .read-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.modal-content .read-container p {
  margin: 3px;
}

.add-button {
  margin-top: 10px;
  background-color: var(--blue);
  font-family:Verdana, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  border: 0;
  width: 60px;
  height: 30px;
  border-radius: 10px;
}

.add-button:hover {
  color: var(--blue);
  background-color: white;
}

.add-button:focus {
  outline: none;
}