body, html {
  margin: 0;
  height: 100vh;
}

:root {
  --modal-height: 265px;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header h1 {
  text-align: center;
}

.main {
  background-color: greenyellow;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: min-content;
  column-gap: 7rem;
  row-gap: 5rem;
  padding: 3rem 7rem;
}

.card {
  background-color: white;
  height: 150px;
  text-align: center;
}

.modal-inactive {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgb(0, 0, 0, .5);
  width: 100%;
  height: 100%;
}

.modal-active {
  display: block;
}

.modal-content {
  background-color: white;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: var(--modal-height);

  /* Position element in the center-ish of the screen */
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 35%;
  margin-top: calc(-1*var(--modal-height)/2);
}

.modal-content h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.modal-content div{
  display: flex;
  flex-direction: column;
}

.invalid-message {
  color: red;
  margin: 5px;
  visibility: hidden;
}

#pages-error {
  margin: 5px 5px 0 5px;
}

.invalid-message-active{
  visibility: visible;
}

.modal-content .read-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.modal-content .read-container p {
  margin: 3px;
}

.modal-content .add-button {
  margin-top: 10px;
}